<nav>
    <img src="../../assets/images/tblogo.png" alt="Tech blog logo">
    <a class="navlinks" href="">Home</a>
    <a class="navlinks" href="">Dashboard</a>
    <a class="navlinks" href="">Logout</a>
</nav>