<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {{title}} </title>
  </head>
  <body>
    <nav>
      <img src="../../images/tblogo.png" alt="Tech blog logo" />
      <a class="navlinks" href="">Home</a>
      <a class="navlinks" href="">Dashboard</a>
      <a class="navlinks" href="">Logout</a>
    </nav>
    {{{body}}}
  </body>
</html>