{{#if loggedIn}}
  <h2>Dashboard</h2>

  {{#each displayPosts as |post|}}

    {{post.subject}}
    {{post.post}}

  {{/each}}

{{else}}

  <p>You must be logged in to view this page.</p>
  <p>Please <a href="/login">login</a> or <a href="/register">sign up</a></p>

{{/if}}