{{#if loggedIn}}
  <h2>Dashboard</h2>

  {{#each displayPosts as |post|}}

    <section class="card">
      <p class="cardsection">Subject: {{post.subject}}</p>
      <p class="cardsection">Posted on: {{format_date post.createdAt}}</p>
      <p class="cardsection">{{post.post}}</p>
      <button id="editpost" class="button">Edit Post</button>
      <button id="deletepost" class="button">Delete Post</button>
    </section>
  {{/each}}
  <a href="/newpost" class="button">+ Write New Post</a>

{{else}}

  <p>You must be logged in to view this page.</p>
  <p>Please <a href="/login">login</a> or <a href="/register">sign up</a></p>

{{/if}}