<h2>Registration</h2>

<form id="register-form">
  <div class="form-section">
    <label for="email-register">email</label>
    <input type="text" id="email-register" />
  </div>
  <div>
    <label for="name-register">username</label>
    <input type="text" id="name-register" />
  </div>
  <div id="regdiv" class="form-section">
    <label for="password-register">password:</label>
    <input type="password" id="password-register" />
  </div>
  <div class="form-section">
    <button class="signup-button" type="submit">Sign Up!</button>
  </div>
</form>

<script src="/js/register.js"></script>